
/*Entire Webpage Backdrop Styling*/

* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
    contain: content;
}

body {
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255),rgb(204, 208, 199),rgb(232, 246, 80));
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: overlay;

  }


/*Top Nav. Ban. Text Styling*/
header nav {
    /* border: 4px solid rgb(255, 0, 234); */
    background-color: #FFFFFF;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    margin-right: 80px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    flex-direction: column;
    text-align: center;
}

#heroIMG{
    /* border: 4px solid rgb(56, 36, 153); */
    flex-direction: column;
    height:445px;
    width: 345px;
    text-align: center;
}


/*Jumbotron Block Styling*/

#hero{
    /* border: 4px solid rgb(162, 255, 0);= */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 520px;
    text-align: center;
    color: slategray;
    background-color: #FFFFFF;
}

#sketch{
    text-align: center;
    height: 75%;
    width: 90%;
    padding-bottom: 10px;
}

.spacer {
    /* border: 4px solid rgb(13, 10, 11); */
    height: 180px;
    min-width: 100%;
  }

  .spacer2 {
    /* border: 4px solid rgb(13, 10, 11); */
    height: 80px;
    min-width: 100%;
  }

  .internalHeader {
    border: 4px solid rgb(56, 36, 153);
    height: 150px;
    width: 100%;
    font-size: 60px;
    color: slategray;
    text-align: center;
    padding-top: 30px;
  }

  .portLink {
    border: 4px solid rgb(56, 36, 153);
    height: 80px;
    width: 100%;
    font-size: 40px;
    color: slategray;
    text-align: center;
    padding-top: 15px;
  }

  .heroHeaderOmbre {
    /* border: 4px solid rgb(0, 0, 0); */
    background-image: linear-gradient(360deg, rgb(255, 255, 255), rgb(255, 255, 255),rgba(223, 224, 221, 0.771),rgb(232, 246, 80));
    height: 125px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .heroHeader {
    border: 4px solid rgb(56, 36, 153);
    height: 80px;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
  }


/*Nav. HPL Recall Img Styling*/
.service img {
    margin-top: 25px;
    max-width: 400px;
    max-height: 400px;
}

/*Nav. HPL Recall Header Styling*/
.service h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/* Webpage Section Jumps */ 
#about-dc{
    /* border: 4px solid rgb(14, 251, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

#damaris{
    margin-top: 20px;
    height:550px;
    width: 300px;
    text-align: center;
    margin-left: 565px;
}



#bioText{
    /* border: 4px solid rgb(81, 207, 169); */
    display: flex;
    height:90px;
    width: 850px;
    margin-left: 285px;
    text-align: center;
}

#the-collection{
    /* border: 4px solid rgb(201, 4, 246); */
    display: flex;
    flex-direction: column;
    height: 718px;
    width: 100%;
    align-items: center;
    text-align: center;
    color: white;    
    font-size: 40px;
}


.project-container {
    display: flex;

}

.project {
    height: 500px;
    width: 400px;
}

#bookExplorer{
    max-width: 333px;
    max-height: 333px;
} 

#horiseon{
    margin-top: 180px;
    max-width: 232px;
    max-height: 232px; 
}

#kBeauty{
    margin-top: 180px;
    max-width: 300px;
    max-height: 275px; 
}

#connect h2{
    font-size: 55px;
    margin-top: 150px;
    text-align: center;
}

#connect{
    /* border: 4px solid rgb(255, 82, 59); */
    height: 600px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
}


.service {
    border: 4px solid rgb(0, 0, 0);
    width: auto;
    height: 715px;
    display: flex;
  }

#resumeContent {
    border: 4px solid rgb(0, 0, 0);
    width: auto;
    height: 565px;
    display: flex;
  }



footer{
    /* border: 4px solid rgb(0, 0, 0); */
    height: 118px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 11px;
    text-align: center;
    padding-top: 25px;
}

.heroContainer {
    /* border: 4px solid rgb(0, 0, 0); */
    width: auto;
    height: 700px;
    display: flex;
  }
 
  .leftPollPanel {
    /* border: 4px solid rgb(57, 182, 155); */
    flex-basis: 53%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .rightPollPanel {
    /* border: 4px solid rgb(244, 189, 61); */
    flex-basis: 47%;
    height: 100%;
    contain: content;
  }


  #contentLeftIMG {
    margin-top: 10px;
    height:450px;
    width: 500px;
    margin-left: 25px;
  }

  #contentRightIMG {
    margin-top: 10px;
    height:450px;
    width: 500px;
    margin-left: 95px;
  }



  /* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(121, 121, 121, 0.6);
    --animation-color: #d2e218;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }


  #heroText {
    text-align: center;
    letter-spacing: -3px;
    font-size: 60px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #969696;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-shadow: 3px 3px 6px #A3A3A3;
}


.headerText {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #969696;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-shadow: 3px 3px 6px #A3A3A3;
}




/* .resume {
    margin-left: 250px; 
    padding-right: 20px; 
    padding-left: 20px; 
    height:450px;
    width:750px;
    border:1px solid; 
    overflow:auto; 
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */